.contactContentOne {
    text-align: center;

    a {
        font-size: 2rem;
        font-weight: 100;
    }
    h2 {
        font-size: 2rem;
        padding-top: 2rem;
        font-weight: 300;
    }
}

.contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5rem;
    flex: 0 0 100%;
    // section {
    //     width: 50%;
    // }
    
    .fa-envelope {
        font-size: 2rem;
        font-weight: 100;
    }
    .contact {
        font-size: 1.5rem;
        font-weight: 100;
    }
}

.rightContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    section {
        display: flex;
        padding: 2rem 0;
    }
}

.fa-solid {
    font-size: 2rem; 
}


@media (max-width: 687px) {
    .leftContact img {
        margin-bottom: -10rem;
    }
}
