* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    min-width: 375px;
    overflow-x: hidden;
    background: #09090b;
    color: white;
    overflow: hidden;
}