
.logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: lighter;
    padding-top: 1rem;
    margin: .6rem;
    font-size: 1.5rem;
    cursor: pointer;

    h1 {
        padding-left: 1rem;
    }
}

.closeMenu {
    display: none;
}

nav {
    background: #09090b;
    color: white;
    display: flex;
    justify-content: space-between;

    .mainMenu {
        display: flex;
        list-style: none;
    }
}

.mainMenu li a {
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;

    &:hover {
        background: white;
        color: #09090b;
    }
}

.openMenu {
    font-size: 2rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
}


@media (max-width: 700px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #09090b;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;

        i {
            font-size: 3rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a {
        &:hover {
            background: white;
            color: black;
            font-size: 1.5rem;
        }
    }
    
}



// .headerContainer {
//     background: #09090b;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     color: white;
//     font-size: 1.5rem;
//     height: 10rem;
//     box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.75);
// -webkit-box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.75);
// -moz-box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.75);

//     .leftHeader {
//         // background: green;
//         justify-content: left;
//         width: 100%;
//     }

//     .rightHeader {
//         justify-content: right;
//         // background: yellow;
//         width: 100%;
//         text-align: right;
//     }
// }

// .mainMenu {
//     display: flex;

//     li a {
//         display: inline-block;
//         padding: 1.5rem;
//         text-decoration: none;
//         text-transform: uppercase;
//     }
// }

// .leftHeader {
//     display: flex;
// }

// .imgContainer {
//     img {
//         width: 13rem;
//         padding: 0 0 1rem 2rem;
//     }
// }

// .alchemContainer {


//     padding-top: 3rem;
//     margin-left: -2rem;

//     #capital-el {
//         padding-left: 4rem;
//     }
// }

// .rightHeader {
//     ul {
//         display: flex;

//         li {
//             padding: 0 2rem;
//             align-items: center;
//             margin: 0 auto;

//         }
//     }
// }