.bgSection {
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgb(69, 69, 69, 0.500), rgba(69, 69, 69, 0.500)), url("../images/pexels-leeloo-thefirst-8358144.jpg") repeat scroll center bottom;
    background-size: cover;
    background-position-y: 87%;
    height: 55rem;
    opacity: .8;
    padding: 0;

}