.contentOneContact {
    text-align: center;

    h2 {
        font-size: 3rem;
        padding-top: 2rem;
    }
}
.teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    img {
        border: 1px solid white;
        border-radius: 1rem;

    }

    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: 100;
    }

    section {
        padding: 5rem;
    }
}

.teamOne {
    align-self: flex-start;
}

.teamThree {
    align-self: flex-end;
}

.teamTwo {
    margin-left: -12rem;
}


@media (max-width: 687px) {
    .teamContainer {
        imf {
            margin-bottom: 1rem;
        }
    }
}
