@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 375px;
  overflow-x: hidden;
  background: #09090b;
  color: white;
}

.headerContainer {
  background: #09090b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  height: 10rem;
  box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.75);
}
.headerContainer .leftHeader {
  justify-content: left;
  width: 100%;
}
.headerContainer .rightHeader {
  justify-content: right;
  width: 100%;
  text-align: right;
}

.leftHeader {
  display: flex;
}

.imgContainer img {
  width: 13rem;
  padding: 0 0 1rem 2rem;
}

.alchemContainer {
  padding-top: 3rem;
  margin-left: -2rem;
}
.alchemContainer #capital-el {
  padding-left: 4rem;
}

.rightHeader ul {
  display: flex;
}
.rightHeader ul li {
  padding: 0 2rem;
  align-items: center;
  margin: 0 auto;
}

.bgSection {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/pexels-leeloo-thefirst-8358144.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 87%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSize {
  height: 80vh;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.headerTextContainer h1 {
  margin-top: -10rem;
  font-size: 2rem;
  font-weight: 100;
}

.nonHomeSize {
  height: 50vh;
}

.bgTitle {
  font-size: 3rem;
  border: 0.3rem solid white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.contentOne {
  padding: 5rem 20rem;
  background: #1b1b21;
}
.contentOne h2 {
  font-weight: 400;
  font-size: 2rem;
}
.contentOne p {
  padding-top: 2rem;
}

.indentMe {
  padding-left: 10rem;
  font-size: 1.5rem;
}

.contentTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 20rem;
  background: #1b1b21;
}

.missionGoal {
  text-align: center;
  background: white;
  width: 30rem;
  padding: 5rem 1rem;
  margin: 0 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
}
.missionGoal p {
  font-size: 2.5rem;
  font-weight: 300;
}

.topFooterImgContainer {
  height: 12rem;
  text-align: center;
}
.topFooterImgContainer img {
  width: 20rem;
  margin-top: -3rem;
}

.midFooterSocialsContainer .fa-brands {
  font-size: 2.5rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.midFooterSocialsContainer ul {
  display: flex;
  justify-content: center;
}
.midFooterSocialsContainer ul li {
  padding: 1rem;
}

.bottomFooterRights {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */