@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-width: 375px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 375px;
  overflow-x: hidden;
  background: #09090b;
  color: white;
  margin: 0;
  padding: 0;
}

.bgHome, .bgmission, .bgstatement, .bgTeams, .bgContact {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.bgHome {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/blockchain.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 87%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgmission {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/mission.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 55%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgstatement {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/statement.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 65%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgTeams {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/teams.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 50%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgContact {
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.5), rgba(69, 69, 69, 0.5)), url("../images/contact.jpg") repeat scroll center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 50%;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSize {
  height: 85vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 1rem;
  margin: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.logo h1 {
  padding-left: 1rem;
}

.closeMenu {
  display: none;
}

nav {
  background: #09090b;
  color: white;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}

.mainMenu li a {
  display: inline-block;
  padding: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}
.mainMenu li a:hover {
  background: white;
  color: #09090b;
}

.openMenu {
  font-size: 2rem;
  margin: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #09090b;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav .mainMenu .closeMenu i {
    font-size: 3rem;
  }
  nav .mainMenu .closeMenu i:hover {
    cursor: pointer;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: white;
    color: black;
    font-size: 1.5rem;
  }
}
.headerTextContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.headerTextContainer h1 {
  margin-top: -10rem;
  font-size: 2rem;
  font-weight: 100;
}

.nonHomeSize {
  height: 50vh;
}

.bgTitle {
  font-size: 3rem;
  border: 0.3rem solid white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.contentOne {
  padding: 0 20rem;
}
.contentOne h2 {
  font-weight: 400;
  font-size: 2rem;
}
.contentOne p {
  padding-top: 2rem;
}

.contentOneMission {
  padding: 5%;
  text-align: center;
}
.contentOneMission h2 {
  font-weight: 400;
  font-size: 2rem;
}
.contentOneMission p {
  padding-top: 2rem;
  font-size: 2rem;
}

.missionGoal {
  text-align: center;
  background: white;
  width: 25rem;
  padding: 4rem 1rem;
  margin: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.missionGoal p {
  font-size: 2rem;
  font-weight: 300;
}

.contentTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contentTwoStatement {
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 30rem;
}
.contentTwoStatement .leftContentTwo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .contentOneMission p {
    font-size: 1.5rem;
  }
}
.contentOneStatement {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 5%;
}
.contentOneStatement h2 {
  font-weight: 400;
  font-size: 2rem;
}
.contentOneStatement p {
  padding-top: 2rem;
  font-size: 2rem;
}

.contentThree {
  padding: 3rem 30rem 0 30rem;
  text-align: left;
}
.contentThree h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.contentThree h3 {
  font-size: 2rem;
  padding-top: 2rem;
}
.contentThree p, .contentThree ul {
  font-size: 1.5rem;
}
.contentThree ul {
  text-align: left;
  list-style: circle;
  padding-left: 2rem;
}

.contentFour {
  text-align: center;
  padding: 5rem 2rem;
}
.contentFour h2 {
  padding-bottom: 2rem;
  font-size: 3rem;
}

.containerYear {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.containerYear .yr2018, .containerYear .yr2023, .containerYear .yr2024 {
  flex: 1 1 0;
  padding: 1rem;
  font-size: 2rem;
  align-self: center;
}
.containerYear h3 {
  border: 1px solid white;
  margin: 0 30%;
  padding: 1rem;
}
.containerYear p {
  padding-top: 1rem;
}

.globalContainer {
  line-height: 1.15;
}

.bodyContainer {
  font-family: "roboto", sans-serif;
  color: white;
  font-weight: 400;
  background: #09090b;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.columnPartnership {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section-title {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 45px 0 30px 0;
  font-size: 2rem;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background: #eeeeee;
}

.effect {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect .effect-img {
  font-size: 0;
  overflow: hidden;
}

.effect .effect-img img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.effect:hover .effect-img img {
  transform: scale(1.2);
}

.effect .effect-text {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.effect .effect-text .inner {
  position: absolute;
  padding: 15px;
  z-index: 1;
}

.effect .effect-text:before,
.effect .effect-text:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  content: "";
}

.effect .effect-text:before {
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  left: -100%;
  top: 0;
}

.effect .effect-text:after {
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  left: 100%;
  bottom: 0;
}

.effect:hover .effect-text {
  opacity: 1;
}

.effect:hover .effect-text:after,
.effect:hover .effect-text:before {
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.effect:hover .effect-text:after {
  animation-name: left-up;
}

.effect:hover .effect-text:before {
  animation-name: right-dn;
}
.effect .effect-text h2 {
  height: 45px;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}

.effect .effect-text p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}

.effect .effect-btn .btn {
  display: inline-block;
  height: 35px;
  padding: 7px 15px;
  color: #333333;
  background: #ffffff;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .column {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 767px) {
  .contentOneStatement p {
    font-size: 1.52rem;
  }
  .section-title {
    padding: 15px 0 30px 0;
  }
  .containerYear {
    display: flex;
    flex-wrap: wrap;
  }
  .containerYear {
    flex-direction: column;
    padding: 0 2rem;
  }
  .containerYear section {
    padding: 2rem 0 !important;
  }
}
.contentOneContact {
  text-align: center;
}
.contentOneContact h2 {
  font-size: 3rem;
  padding-top: 2rem;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.teamContainer img {
  border: 1px solid white;
  border-radius: 1rem;
}
.teamContainer h2 {
  font-size: 2.5rem;
}
.teamContainer h3 {
  font-size: 2rem;
  font-weight: 100;
}
.teamContainer section {
  padding: 5rem;
}

.teamOne {
  align-self: flex-start;
}

.teamThree {
  align-self: flex-end;
}

.teamTwo {
  margin-left: -12rem;
}

@media (max-width: 687px) {
  .teamContainer imf {
    margin-bottom: 1rem;
  }
}
.contactContentOne {
  text-align: center;
}
.contactContentOne a {
  font-size: 2rem;
  font-weight: 100;
}
.contactContentOne h2 {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 300;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5rem;
  flex: 0 0 100%;
}
.contactContainer .fa-envelope {
  font-size: 2rem;
  font-weight: 100;
}
.contactContainer .contact {
  font-size: 1.5rem;
  font-weight: 100;
}

.rightContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightContact section {
  display: flex;
  padding: 2rem 0;
}

.fa-solid {
  font-size: 2rem;
}

@media (max-width: 687px) {
  .leftContact img {
    margin-bottom: -10rem;
  }
}
.footerContainer {
  clear: both;
  padding-top: 1.5rem;
  box-shadow: -2px -15px 24px -11px rgba(40, 40, 40, 0.75);
  -webkit-box-shadow: -2px -15px 24px -11px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: -2px -15px 24px -11px rgba(40, 40, 40, 0.75);
}

.noneIndex {
  clear: both;
  padding-top: 1.5rem;
}

.topFooterImgContainer {
  height: 11rem;
  text-align: center;
}
.topFooterImgContainer img {
  width: 20rem;
  margin-top: -3rem;
}

.midFooterSocialsContainer .fa-brands {
  font-size: 2.5rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.midFooterSocialsContainer ul {
  display: flex;
  justify-content: center;
}
.midFooterSocialsContainer ul li {
  padding: 1rem;
}

.bottomFooterRights {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */